@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&family=Spartan:wght@100;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #519872;
}

body {
  font-family: "Spartan", sans-serif;
}

.container {
  width: 50%;
  margin: 30px auto;
}

.container .page-heading {
  font-family: "Rock Salt", cursive;
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
  color: var(--primary-color);
}

.container .description {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 20px;
  margin-bottom: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container .input {
  padding: 20px;
  border: 1px solid var(--primary-color);
  margin: 10px auto 30px;
  border-radius: 10px;
  text-align: center;
  width: 50%;
  font-size: 1.3rem;
}

.input-container label {
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.btn-submit {
  padding: 15px 25px;
  border-radius: 5px;
  margin: 10px auto;
  display: flex;
  background: var(--primary-color);
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}
.btn-submit:hover {
  box-shadow: 0 0 20px var(--primary-color);
}

.result {
  font-size: 2rem;
  text-align: center;
}

.error {
  color: red;
  font-size: 2rem;
  text-align: center;
}

/* FOOTER */
.main-footer {
  color: rgb(0, 0, 0);
  /* width: 100%; */
  /* border-top: 1px solid black; */
  margin-top: 5rem;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 20px;
  margin-right: 40px;
}

.social .fab {
  border-radius: 50%;
  color: rgb(10, 10, 10);
  /* color: var(--primary-color); */
  text-align: center;
  padding: 0.5rem;
}
.social .fab:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

@media (max-width: 540px) {
  .container {
    width: 80%;
    margin: 30px auto;
  }

  .container .page-heading {
    font-size: 1.5rem;
    line-height: 25px;
  }

  .container .description {
    font-size: 1rem;
    padding: 20px;
    margin-bottom: 2rem;
  }

  .input-container .input {
    width: 80%;
    font-size: 1.3rem;
  }

  .btn-submit {
    margin: 10px auto 25px;
    font-size: 1rem;
  }

  .result {
    font-size: 1.2rem;
    text-align: center;
  }

  .error {
    color: red;
    font-size: 1.2rem;
    text-align: center;
  }

  /* FOOTER */
  .main-footer {
    color: rgb(0, 0, 0);
    width: 100%;
    margin: 5rem auto 10px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-text {
    font-size: 20px;
    margin-right: 0;
  }

  .social .fab {
    border-radius: 50%;
    color: rgb(10, 10, 10);
    text-align: center;
    padding: 0.3rem;
  }
}
